/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Sanchez&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: none;
}

/** First Landing Page and background for game **/
h1{
    font-family: 'Sanchez', sans-serif;
    font-size: 280%;
    color: #8AF07F;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

body
{
   background-image: url(/assets/images/background-image.jpg);
   max-width: 100%;
   max-height: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #0063CC;
   font-family: 'ABeeZee', sans-serif;
}

.content-box
{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #C7FFAD;
    border-radius: 10px;
    width: 60%;
}

.intro
{
    color: #0B0491;
    padding-top: 30px;
    font-size: 120%;
    padding-left: 10px;
    padding-right: 10px;
}

#initiate
{
    background-color: #0B0491;
    color: white;
    font-size: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 8px;
    margin: 20px;
    font-family: 'ABeeZee', sans-serif;
}

#initiate:hover{
    background-color: crimson;
}


/** Create username area **/
form
{
    color: #0B0491;
    padding-top: 15px;
    font-size: 1.5em;
}

#username-choice
{
    margin: 0 auto;
    margin: 10px;
    padding: 10px;
    width: 70%;
    border-radius: 8px;
}

input[type=text]
{
    border: 1.5px solid black;
}

#reset-form, #submit-form
{
    background-color: #0B0491;
    color: white;
    font-size: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 8px;
    margin: 20px;
    font-family: "ABeeZee", sans-serif;
}

#reset-form:hover, #submit-form:hover
{
    background-color: crimson;
}


/** Display rules area **/
#rules-title
{
    font-size: 200%;
    font-weight: bold;
}

hr
{
    color: #0B0491;
    /**font-weight: ADD THIS HERE ;**/
}

.rules 
{
    color: #0B0491;
    padding-top: 30px;
    font-size: 120%;
    padding-left: 10px;
    padding-right: 10px;
}

#move-on-btn
{
    background-color: #0B0491;
    color: white;
    font-size: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 8px;
    margin: 20px;
    font-family: "ABeeZee", sans-serif;
}

#move-on-btn:hover
{
    background-color: crimson;
}

/** Select Difficultty area **/

#welcome-message
{
    color: #0B0491;
    padding-top: 30px;
    font-size: 160%;
    padding-left: 10px;
    padding-right: 10px;
}

#welcome-message h2
{
    color: #0B0491;
    padding-top: 20px;
    font-size: 130%;
    padding-left: 10px;
    padding-right: 10px;
}


#basic-knowledge-btn, #intermediate-btn, #geography-genius-btn
{
    background-color: #0B0491;
    color: white;
    font-size: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 8px;
    margin: 20px;
    width: 200px;
    font-family: "ABeeZee", sans-serif;
    display: block;
}

#basic-knowledge-btn:hover, #intermediate-btn:hover, #geography-genius-btn:hover
{
    background-color: crimson;
}

#basic-start-btn, #intermediate-start-btn, #genius-start-btn, #basic-change-btn, #intermediate-change-btn, #genius-change-btn
{
    background-color: #0B0491;
    color: white;
    font-size: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 8px;
    margin: 20px;
    width: 200px;
    display: block;
    font-family: "ABeeZee", sans-serif;
}


#basic-start-btn:hover, #intermediate-start-btn:hover, #genius-start-btn:hover, #basic-change-btn:hover, #intermediate-change-btn:hover, #genius-change-btn:hover
{
    background-color: crimson;
}

/** ADD Style for display questions section**/




/** Correct / Incorrect Answer message **/

#answer-type
{
    color: #0B0491;
    font-size: 130%;
}

#answer-type p 
{
    color: #0B0491;
    font-size: 120%;
}

#continue
{
    background-color: #0B0491;
    color: white;
    font-size: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 8px;
    margin: 20px;
    width: 200px;
    display: block;
    font-family: "ABeeZee", sans-serif;
}

#contine:hover
{
    background-color: crimson;
}

/** Results page **/

#end-message
{
    color: #0B0491;
    font-size: 150%;
    font-weight: bold;
}

#result-message
{
    color: #0B0491;
    font-size: 140%;
    font-weight: bold;
}


/** Add media screens **/
